<!-- wp:template-part {"slug": "header", "tagName": "header"} /-->

<section class="home-banner">
    <!-- wp:pattern {"slug": "orgcms/home-slides"} /-->
</section>

<div class="main-container home">

    <section class="section-container home-announcements">
        <div class="section-box">

            <div class="title-box">
                <div class="title">通知公告</div>
                <div class="title-icon"></div>
            </div>

            <!-- wp:query {"query": {"categoryIds": [15], "perPage": 2, "pages": 0, "offset": 0, "postType": "post", "order": "DESC", "orderBy": "date"}} -->
            <div class="announcement-list">
                <!-- wp:post-template {} -->
                <div class="announcement">
                    <!-- wp:post-title {"isLink":true, "level":4} /-->
                    <!-- wp:post-date {"format":"发布时间：Y年n月j日"} /-->
                    <!-- wp:post-excerpt /-->
                </div>
                <!-- /wp:post-template -->
            </div>
            <!-- /wp:query -->

            <div class="view-all-announcement">
                <a class="btn-view reversed" href="/category/announcements">更多公告</a>
            </div>

        </div>
    </section>

    <section class="section-container home-news">
        <div class="section-box">

            <div class="section-title-box">
                <div class="section-title">新闻动态</div>
                <div class="section-title-en">NEWS</div>
            </div>

            <div class="news-box">
                <!-- wp:pattern {"slug": "orgcms/featured-img-news"} /-->

                <!-- wp:query {"query": {"categoryIds": [14], "perPage": 6, "pages": 0, "offset": 0, "postType": "post", "order": "DESC", "orderBy": "date"}} -->
                <div class="latest-news-list">
                    <div class="more-news"><a class="btn-view" href="/category/news">更多新闻</a></div>

                    <!-- wp:post-template -->
                    <div class="news">
                        <!-- wp:post-title {"isLink":true, "level":4} /-->
                        <!-- wp:post-date {"format":"Y-m-d"} /-->
                    </div>
                    <!-- /wp:post-template -->
                </div>
                <!-- /wp:query -->
            </div>

        </div>
    </section>

    <section class="section-container home-lab-intro">
        <div class="section-box">
            <div class="section-title-box">
                <div class="section-title">实验室介绍</div>
                <div class="section-title-en">INTRODUCTION</div>
            </div>
            <!-- wp:pattern {"slug": "orgcms/home-lab-intro"} /-->
        </div>
    </section>

    <section class="section-container home-research-directions">
        <div class="section-box">
            <div class="section-title-box">
                <div class="section-title">研究方向</div>
                <div class="section-title-en">RESEARCH</div>
            </div>

            <!-- wp:query {"query": {"categoryIds": [6], "perPage": 4, "pages": 0, "offset": 0, "postType": "post", "order": "ASC", "orderBy": "date"}} -->
            <div class="research-directions">
                <!-- wp:post-template {} -->
                <div class="research-direction">
                    <!-- wp:post-featured-image {"isLink":true} /-->
                    <!-- wp:post-title {"isLink":true, "level":4} /-->
                    <!-- wp:post-excerpt /-->
                    <div class="more"><a class="btn-view" href="">查看详情</a></div>
                </div>
                <!-- /wp:post-template -->
            </div>
            <!-- /wp:query -->

        </div>
    </section>

    <section class="section-container home-friendly-links">
        <div class="section-box">

            <div class="section-title-box">
                <div class="section-title">友情链接</div>
                <div class="section-title-en">LINKS</div>
            </div>

            <!-- wp:pattern {"slug": "orgcms/friendly-links"} /-->
        </div>
    </section>

</div>



<!-- wp:template-part {"slug": "footer", "tagName": "footer"} /-->