<!-- wp:template-part {"slug": "header", "tagName": "header"} /-->

<div class="main-container">

    <div class="current-position">
        <!-- wp:pattern {"slug": "orgcms/current-position"} /-->
    </div>

    <div class="post-container">

        <div class="post-box two-col">
            <aside>
                <!-- wp:pattern {"slug": "orgcms/single-sidebar"} /-->
            </aside>

            <article>
                <!-- wp:post-title {"level": 1} /-->
                <!-- wp:post-date {"format":"发布时间：Y-m-d"} /-->
                <!-- wp:post-content /-->
            </article>
        </div>

    </div>

</div>

<!-- wp:template-part {"slug": "footer", "tagName": "footer"} /-->
